.flex-table {
  margin: 20rpx 10rpx;
  display: flex;
  flex-direction: column;
  width: auto;
  overflow-x: auto;
}

.header {
  display: flex;
  width: 100%;
  font-weight: bold;
}

.cell {
  flex-grow: 1;
  border: 1rpx solid #ccc;
  padding: 20rpx;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;

  &.scroll {
    flex-shrink: 0;
  }

  &.checkbox {
    flex-shrink: 0;
  }
}
